
body{
    margin: 10;
    padding: 0;
    font-size: 20px;
    background-color: #FFF9F9;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 100%;
    top:0;
    
 
  
}

.nav_links{

    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    font-size: large;
}

footer {
    background-color: #5264C7;
  
    bottom: 0;
    text-align: center;
    padding: 3px;

}
h5 {
    color:#FFFF;
}

section{

margin-top: 15%;
min-height: calc(100vh - 211px - 50px);

}
.container {

display: flex;
width: 1500px;

border: 20px solid #FFFFFF ;
margin:0 auto;
background-color: white;
flex-direction: column;
padding: 10px;

}

.container div {
    width: 750;
    height: 750;
}
