<hr>
<form action="" method="post">
<h1>Register Akun Baru!</h1>
<h3>Isilah form dibawah ini</h3>
<p>First Name :</p>
<input type="text" >
<p>Last Name :</p>
<input type="text" >
<p>Gender</p>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Male</label>
  <input type="radio" id="female" name="gender" value="female">
  <label for="gemale">Female</label>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">other</label>
<p>Nationality :</p>
<select name="" id="">
    <option value="">Indonesia</option>
</select>
<p>Sedang Fokus Belajar :</p>
<select name="" id="">
    <option value="">Reactjs</option>
</select>
<p>Language Spoken  </p>
<input type="checkbox" name="" id="">
<label for="">Indonesian</label>
<input type="checkbox" name="" id="">
<label for="">English</label>
<input type="checkbox" name="" id="">
<label for="">Other</label>
<p>Deskripsi Diri Saya :</p>
<textarea name="" id="" cols="22" rows="2" width></textarea>
<p><input type="submit" value="register"></p>
</form>