
*{
  margin: 0;
  padding: 0;
  

}
.card{
 
  margin : 0 auto;
  margin-top: 50px;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 25px;
}

.card img {
  margin-top: 20px;
  margin-left: 20%;
  align-items: center;

}
.card h1 {
  color: #aaa;
  font-weight: 200;
  margin-bottom: 10px;
  padding:5%
  }
 

.list{
  padding: 3%;
  width: 300px;
  height: 50px;
}

.list input {
  font-family:50px ;
}
.card button {
  margin-top: 20px;
  width :90%;
  padding:15px 32px;
  margin-left: 5%;
}
.submit {
  padding:5%
}

/* button {
  background-color: #008CBA; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 20px;
} */
.containerList{
  font-size: 20px;


}

.list input {
  height: 10px ;
}
input[type=checkbox] {
  transform: scale(2.5);
  margin: 20px;
}

.navbar_light {

 
  background-color: #F5F5F5;
  height: 60px;
  width: 100%;
 
}

.navbar_light li {
 display: inline-flex;
  padding: 0px 20px;
  font-size: large;
  text-align: center;
  font-weight: 1000;
  font-variant-caps: normal;

}
.navbar_dark {

 width: 100%;
  background-color: #242524;
  height: 60px;

 
}

.navbar_dark li {
 display: inline-flex;
  padding: 0px 20px;
  font-size: large;
  text-align: center;
  font-weight: 1000;
  font-variant-caps: normal;
  padding-left:20px ;
  
 


}
a{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-top: 18px;
  margin-left: 20px;
  
  
}

.navbar_dark li a:hover{
  color: greenyellow;
}

.navbar_light li a:hover {
  color: red;
  }
  .navbar_dark a {
    color: pink;
  }
  .navbar_light a {
    color: black;
  }

