* {
    margin: 0px;
    padding: 0px;
    list-style: none;

  
}


/* Buatlah styling section top dibawah ini */

.top{

  margin-top: 2rem;

}
.top h2 {
    text-align: center;
    font-size: 2rem;
}
.icon{
    text-align: center;
    font-size: 2rem;

}
.icon i {

    padding: 40px;

    

}

/* Buatlah styling section container dan card dibawah ini */

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 2px 16px;
    
    

}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.description{

 width: 100%;

}
p{
    text-align: justify;
}

/* Aturlah breakpoint dibawah ini menggunakan media queries agar responsive */
@media only screen and (max-width : 480px ){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 50px;
        row-gap: 50px;
        margin: 20px;
        
    
    }
    .card{
        border: 3px ;
        min-height: 90px;
        width:100%;
        font-size: 30px;
        margin: 20px;
        box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
    }
}

@media only screen and (min-width : 480px ) and (max-width : 768px){

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        row-gap: 50px;
        margin: 20px;
        
    
    }
    .card{
        border: 3px ;
        min-height: 90px;
        width:100%;
        font-size: 30px;
        margin: 20px;
        box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
    }
}