#table-data {
 
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-collapse: collapse;
    border-radius: 2rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
  
     word-break: break-word;
  }
  
  #table-data td, #table-data th {
    border: 1px solid #ddd;
    padding: 8px;
    max-width: 250px;
    
  }
  
  #table-data tr:nth-child(even){background-color: #f2f2f2;}
  
  #table-data tr:hover {background-color: #ddd;}
  
  #table-data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  .container {
    width: 60%;
    margin: 0 auto;  
    margin-top: 50px;
    

   
  }

  input[type=text],input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    font-size: large;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    width: 60%;
  }
  .container h1 {
      margin-left: 35%;
  }
  .container-form h1 {
    margin-left: 35%;
  }

  /* button:active {
  background-color: red; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 5%;
  margin-bottom: 20px;
} */
button {
  background-color: #008CBA; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px ;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-collapse: collapse;
    border-radius: 2rem;
    overflow: hidden;
}

