* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
  
}

/* Buatlah styling setiap section dibawah ini */
.container_bottom{
    margin-top: 1rem;
    
}
.container_bottom p{
    font-size: 20px;
    
}


.container {
  
    width: 780px;
    margin: 0 auto;
    
   
    }

    .container_hero{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      
      border-radius: 15px;
      height: 21vh;
      margin-top: 5%;
      background-color: #019267;
      display: grid;
      grid-template-columns: 1fr 1fr;
      
    }

    .container_hero h1 {
        padding: 7%;
        width: 100%;
        color: white;
    }
    .container_hero p {
        padding: 7%;
        width: 100%;
        color: white;
        font-size: 14px;
        margin-left: 50%;
        
    }
    .container_support p {
        font-size: 16px;
        text-align: center;
        margin-top: 5rem;
        
        
        
    }
    .logo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 5%;
        padding: 1rem;
        align-items: center;
        margin-left: 10%;
        width: 100%;

        
        
     

    }
    .container_features_title{
        margin-top: 15%;
        text-decoration: underline;
         text-underline-offset: 10px;
         
        font-size: 32px;
        
    }
    .container_features_title h1{
    font-weight: bold;
    font-size: 28px;

}
    .container_features{
        display: grid;
        row-gap: 20px;
        padding: 2px 16px;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        margin-top: 8%;
        
        
        
    }
    .container_pricing_title h1{
        margin-top: 15%;
        text-decoration: underline;
         text-underline-offset: 10px;
         font-size: 28px;
        
         
       
    }
    .container_pricing{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding:3rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 100%;
      column-gap: 40px;
    background-color: #062C30;
      height: 25vh;
      margin-top: 5%;
      
        
    }
    
    .container_features-card h3{
       margin-top: 2rem;
        font-size: 32px;
    
        text-align: center;

       
    }
    .container_features-card p{
        font-size: 15px;
        margin-top: 2rem;
        text-align: center;
                
       
    }
    .container_pricing-card{

       
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 100%;
      border-radius: 12px;
      height: 100%;
      background-color: white;
      text-align: center;
      
      
    }

    .container_pricing-card h1 {
        text-align: center;
        margin-top: 10%;
        font-size: 2rem;
        font-weight: bold;
    }
    .container_pricing-card ul {
        text-align: left;
        width: 95%;
        padding: 20px;
        font-size: 12px;
        margin-top: 2%;
        
    }



/* Aturlah breakpoint dibawah ini menggunakan media queries agar responsive dibawah sini*/

@media only screen and (max-width: 480px){
    .container {
        width: 100%;
        margin: 0 auto;
        display: grid;
        place-items: center;
        }

        .container_pricing{
           
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 50px;
            padding:3rem;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transition: 0.3s;
          width: 50%;
         
        background-color: #062C30;
          height: 150vh;
          margin-top: 5%;
          margin-left: 10%;
            
        }

        .container_features{
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 20px;
            margin-top: 8%;
            margin-left: 10%;
            
            
        }
            .logo {
                display: grid;
                    grid-template-columns: 1fr ;
                    margin-top: 5%;
              
                align-items: center;
                margin-left: 10%;
              
                width: 100%;
        
                
                
             
                    }

                                .logo img{
                padding: 30px;
            }
            .container_hero{
                width: relative;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
              transition: 0.3s;
             
              border-radius: 15px;
              height: 100%;
              margin-top: 5%;
              background-color: #019267;
              display: grid;
              grid-template-columns: 1fr;
              margin-left: 10%;
              
              
              
            }
            .container_hero h1 {
                padding: 7%;
                width: 50%;
                color: white;
            }
            .container_hero p {
                padding: 1%;
                width: 100%;
                color: white;
                font-size: 14px;
                margin-left: 40%;
                
                
            }
            .container_bottom{
                margin-top: 1rem;
                margin-left: 10%;
                
            }
            .container_pricing-card ul {
                text-align: left;
                width: 95%;
                padding: 20px;
                font-size: 18px;
                margin-top: 2%;
                
            }
            .container_features_title{
                margin-top: 15%;
                text-decoration: underline;
                 text-underline-offset: 10px;
                 
                font-size: 32px;
                margin-left: 10%;
                
            }
    
}

@media only screen and (min-width: 480px) and ( max-width: 780px ){
    .container {
        width: 100%;
        margin: 0 auto;
        display: grid;
        place-items: center;
        }
        .container_pricing{
           
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 50px;
            padding:3rem;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transition: 0.3s;
          width: 50%;
         
        background-color: #062C30;
          height: 100vh;
          margin-top: 5%;
          margin-left: 10%;
            padding: 20px;
        }   

        .container_features{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
            margin-top: 8%;
            margin-left: 10%;
            
            
        }
        

            .logo {
                display: grid;
                grid-template-columns: 1fr ;
               
                padding: 1rem;
                align-items: center;
                margin-left: 10%;
                column-gap: 20px;
                width: 100%;
        
                
                
             
        
            }
            .logo img{
                padding: 30px;
            }
            .container_hero{
                
                width: relative;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
              transition: 0.3s;
             
              border-radius: 15px;
              height: 40vh;
              margin-top: 5%;
              background-color: #019267;
              display: grid;
              grid-template-columns: 1fr;
              margin-left: 10%;
              
              
              
            }
            .container_hero h1 {
                padding: 7%;
                width: 50%;
                color: white;
            }
            .container_hero p {
                padding: 2%;
                width: 100%;
                color: white;
                font-size: 14px;
                
                
                
            }
            .container_bottom{
                margin-top: 1rem;
                margin-left: 10%;
                
            }
            .container_pricing_title h1{
                margin-top: 15%;
                text-decoration: underline;
                 text-underline-offset: 10px;
                 font-size: 28px;
                
                 
               
            }
            .container_pricing-card ul {
                text-align: left;
                width: 95%;
                padding: 20px;
                font-size: 18px;
                margin-top: 2%;
                
            }
            .container_features_title{
                margin-top: 15%;
                text-decoration: underline;
                 text-underline-offset: 10px;
                 
                font-size: 32px;
                margin-left: 10%;
                
            }
    }
   

